

* {
   box-sizing: border-box;
}

body {
   text-align: center;
}

p, h1, h2, h3 {
   color: white;
   font-family: Montserrat, sans-serif;
}

p {
   font-size: small;
}

body {
   background-color: black;
}

#app { 
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
}

img:hover {
   -webkit-transform: scale(0.5);
   transform: scale(1.1);
}